fieldset {
    border: 1px solid #ccc;
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    width: 600px;
}