.container {
    border: 1px solid black;
    width: 700px;
    margin: 10px auto;
    padding: 30px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    width: 130px;
}

#firstcol {
    /* 배경색을 투명20프로 검은색 */
    background-color: rgba(0, 0, 0, 0.1);
}

.center {
    text-align: center !important;
}
#ct1{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#ct3{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}